<div ui-content-for="title">
  <span>FJB Hasil Tani</span>
</div>

<div class="scrollable">
  <div class="scrollable-content">

    <div class="list-group text-center">
      <div class="list-group-item list-group-item-home">
        <h1>Forum Jual Beli Hasil Tani Pasundan
        </h1>
      </div>
      <div ng-show="helpers.isLoggedIn()" class="list-group-item list-group-item-home">
        <div>
          <i class="fa fa-user feature-icon text-primary"></i>
        </div>
        <div>
            <h3 class="home-heading">Selamat Datang {{ user.username }}</h3>
            Bagaimana kabarmu hari ini?
        </div>
      </div>
      <div ng-show="true" class="list-group-item list-group-item-home">
        <div>
          <i class="fa fa-money feature-icon text-primary"></i>
        </div>
        <div>
            <h3 class="home-heading">Jual Hasil Tani Anda</h3>
            Dengan aplikasi ini, anda dapat menawarkan hasil tani anda kepada calon-calon pembeli di seluruh Jawa Barat. Produk anda akan lebih mudah terjual, dengan harga yang kompetitif.
        </div>
      </div>
      <div ng-show="true" class="list-group-item list-group-item-home">
        <div>
          <i class="fa fa-group feature-icon text-primary"></i>
        </div>
        <div>
            <h3 class="home-heading">Dapatkan Kontak Pembeli dengan Mudah</h3>
            Ketika calon pembeli tertarik dengan produk anda, anda bisa mendapatkan kontak calon pembeli tersebut dengan mudah untuk mengkordinasikan pembelian. Anda dapat bertemu dan berbicara dengannya secara langsung, tanpa melalui proses yang sulit.
        </div>
      </div>
      <div ng-show="true" class="list-group-item list-group-item-home">
        <div>
          <i class="fa fa-thumbs-o-up feature-icon text-primary"></i>
        </div>
        <div>
            <h3 class="home-heading">Transaksi Aman dengan Konsep COD</h3>
            Anda tidak perlu cemas tentang penipuan karena transaksi dilakukan secara COD. Anda akan bertemu secara langsung dengan pembeli dan anda akan dibayar secara tunai.
        </div>

      </div>


    </div>

  </div>
</div>
