<div class="scrollable">
  <div class="scrollable-content">

    <div class="list-group text-center">
      <div class="list-group-item list-group-item-home">
        <h1>Forum Jual Beli Hasil Tani
        </h1>
      </div>
      <div ng-show="helpers.isLoggedIn()" class="list-group-item list-group-item-home">
        <div>
          <i class="fa fa-user feature-icon text-primary"></i>
        </div>
        <div>
            <h3 class="home-heading">Selamat Datang {{ user.username }}</h3>
            Bagaimana kabarmu hari ini?
        </div>
      </div>


    </div>

  </div>
</div>
