<div ui-content-for="title">
  <span>{{category}}</span>
</div>

<div class="scrollable">
  <div class="scrollable-content">
    <div class="section">

      <div class="panel panel-default" ng-repeat="offer in offers track by $index" ng-if="offer.buyer == ''">
        <div>

          <div class="panel-heading blue">
            <div class="btn-group pull-right">
              <a ui-turn-on='myDropdown{{$index}}' class='btn'>
                <i class="fa fa-bars"></i> Pilihan
              </a>
              <ul
                ui-state="myDropdown{{$index}}"

                class="dropdown-menu"
                ui-outer-click="Ui.turnOff('myDropdown' + $index)"
                ui-outer-click-if="Ui.active('myDropdown' + $index)"
                role="menu"
                ui-show="myDropdown{{$index}}"
                ui-turn-off="myDropdown{{$index}}">

                <li ng-show="user.role == 'BUYER'" ng-click="buy(offer)"><a>Beli</a></li>
                <li ng-click="contact(offer)" ui-turn-on="modal1"><a>Kontak Penjual</a></li>
                <!-- <li class="divider"></li> -->
              </ul>
            </div>
            <h3 class="panel-title">{{offer.title}}</h3>
          </div>

          <div class="panel-body">
            <div class="thumbnail margin-bottom-5">
              <img src="{{ offer.image_url }}" alt="image">
            </div>
            <label>Info</label>
            <div class="thumbnail margin-bottom-5">
              <ul class="no-margin">
                <li>Penjual : {{ offer.seller }}</li>
                <li>Harga : {{ formatRupiah(offer.price) }}/Kg</li>
                <li>Berat : {{ offer.weight }} Kg</li>
              </ul>
            </div>

            <label>Deskripsi</label>
            <div class="thumbnail margin-bottom-5">
              {{ offer.description }}
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
