<div ui-content-for="title">
  <span>Tawarkan Produk</span>
</div>

<div class="scrollable">
 <div class="scrollable-content section">

  <form role="form" ng-submit='submitOffer()'>
    <fieldset>
      <!-- <legend>Tawarkan Produk</legend> -->
        <div class="form-group">
          <label>Judul</label>
          <input type="text"
                ng-model="offerForm.title"
                class="form-control"
                placeholder="Masukan Judul" required>
        </div>



        <div class="form-group">
          <label>Kategori</label>
          <select class="form-control" ng-model="offerForm.category">
            <option selected>Pilih Kategori...</option>
            <option ng-repeat="o in productCategories track by $index">{{o}}</option>
          </select>
        </div>

        <div class="form-group">
          <label>Jumlah (dalam Kg)</label>
          <input type="number"
                ng-model="offerForm.weight"
                class="form-control"
                placeholder="Masukan jumlah" required>
        </div>

        <div class="form-group">
          <label>Harga (Rupiah per Kg)</label>
          <input type="number"
                ng-model="offerForm.price"
                class="form-control"
                placeholder="Masukan harga per Kg" required>
          <!-- <a class="btn btn-default pull-left">Rp.</a> -->
        </div>

        <div class="form-group">
          <label>Foto Produk</label>
          <div class="thumbnail">
            <img src="{{offerForm.image_url}}" alt="...">
          </div>
          <!-- <input type="file" style="display: none;" class="btn btn-default form-control" accept="image/*"> -->
          <label class="btn btn-default btn-file form-control">
              Unggah <input type="file" ng-model="uploadedFile" style="display: none;" accept="image/*" maxsize="100000" required>
          </label>
        </div>

        <div class="form-group">
          <label>Deskripsi</label>
          <textarea type="text"
                ng-model="offerForm.description"
                class="form-control"
                placeholder="Deskripsikan produk anda" required>
          </textarea>
          <!-- <a class="btn btn-default pull-left">Rp.</a> -->
        </div>

    </fieldset>
    <hr>

    <button class="btn btn-primary btn-block">
      Submit
    </button>

    <!-- <div ui-content-for="navbarAction">
      <a class='btn' ng-click='login()'>Login</a>
    </div> -->

  </form>
 </div>
</div>
